* {
  padding: 0;
  margin: 0;
  background: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.navbar-container img {
  height: 40px;
  position: absolute;
  left: 88px;
}
.list :nth-child(1) {
  text-decoration: underline;
  border-bottom-width: 200px;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  font-family: "orbitron";
  margin-left: 70px;
  text-shadow: 1.4px 0px 1px;
  font-size: 18px;
  letter-spacing: 2px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: "Orbitron";
  text-shadow: 0 0 black;
  margin-right: -107px;
  text-decoration: none;
  justify-content: space-between;
  margin-top: 18px;
}
.search-icon svg {
  height: 20px;
  margin-right: 200px;
  margin-top: 10px;
}
.nav-button {
  padding: 8px 39px 0px 39px;
  border-radius: 12px;
  color: grey;
  font-size: 20px;
  background-color: white;
  text-shadow: 0px 0px 0.5px;
  margin-top: -10px;
  box-shadow: 0px 1px 0.5px 0.5px inset;
}
.btnn {
  padding-left: 45px;
  margin-top: -20px;
}
.list :nth-child(2) {
  margin-left: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 0px 1px;
}
.list :nth-child(3) {
  margin-left: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 0px 1px;
}
.list :nth-child(4) {
  margin-left: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 0px 1px;
}

.list :nth-child(5) {
  margin-left: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 0px 1px;
}
.main img {
  margin-top: -350px;
  margin-left: 90px;
  width: 364px;
  height: 430px;
  position: absolute;
  top: 506px;
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-container-right {
  margin-left: 600px;
  margin-top: -380px;
  position: absolute;
  top: 678px;
}
.hero-heading {
  font-size: 50px;
  font-family: "orbitron";
  margin-left: -25px;
  margin-top: -85px;
}
.hero-description {
  justify-content: center;
  padding-left: 60px;
  padding-right: 150px;
  text-align: center;
  color: grey;
  text-shadow: 0px 0px 54px;
  font-size: 14px;
  margin-top: 45px;
}
.btn1 {
  margin-top: 80px;
  padding-left: 150px;
}
.button-email {
  background-color: white;
  font-size: 17px;
  font-family: "Orbitron";
  border-radius: 10px;
  padding: 3px 25px;
  color: #625a5a;
  text-shadow: 0px 0px 2px;
  border-block-color: black;
  border-left-color: black;
}
.button-join {
  background-color: black;
  font-size: 17px;
  font-family: "Orbitron";
  border-radius: 10px;
  padding: 3px 5px;
  color: white;
  text-shadow: 0px 0px 2px;
  border-block-color: black;
  border-left-color: black;
  margin-left: 15px;
}
.footer {
  margin-top: 87px;
  padding-left: 258px;
  font-size: 20px;
  color: grey;
  line-height: 0;
}
.icons {
  margin-left: -33px;
  display: flex;
  margin-top: 30px;
}
.icons img {
  margin-right: 15px;
  height: 30px;
}
.globe img {
  margin: 0;
  height: 66px;
  position: absolute;
  top: 109px;
  left: 702px;
  right: 0px;
  bottom: 20px;
}
.star img {
  margin: 0;
  height: 60px;
  position: absolute;
  top: 160px;
  left: 1130px;
  right: 0px;
  bottom: 20px;
}
.star2 img {
  margin: 0;
  height: 38px;
  position: absolute;
  top: 565px;
  left: 594px;
  right: 0px;
  bottom: 0px;
}
.square img {
  margin: 0;
  height: 271px;
  top: 358px;
  left: 243px;
  right: 0px;
  bottom: 0px;
  width: 271px;
  z-index: -40;
  position: absolute;
}

@media screen and (max-width: 1338px) {
  .navbar-container {
    margin-right: 124px;
  }
  .hero-heading {
    font-size: 25px;
  }
  .star img {
    left: 865px;
    height: 41px;
  }
}
@media screen and (max-width: 1155px) {
  .button-email {
    font-size: 11px;
  }
  .button-join {
    font-size: 11px;
  }
  .list {
    font-size: 10px;
  }
  .main img {
    width: 306px;
    height: 376px;
  }
  .square img {
    height: 234px;
    width: 207px;
  }
}
@media screen and (max-width: 1050px) {
  .list {
    font-size: 12px;
    margin-left: -440px;
    column-gap: 0px;
  }
  .navbar-container {
    margin-right: -584px;
  }
  .btn1 {
    padding-left: 0px;
  }
  .star2 img {
    left: 540px;
  }
  .hero-heading {
    font-size: 10px;
  }

  .contact-heading {
    margin-left: -92px;
  }
  .icons {
    position: relative;
    margin-left: -115px;
  }
  .hero-description {
    padding-left: 12px;
    padding-right: 37px;
  }
  .globe img {
    height: 43px;
  }
}
@media screen and (max-width: 912px) {
  .footer {
    padding-left: 174px;
  }
  .hero-heading {
    font-size: 15px;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main img {
    width: 246px;
    height: 294px;
  }
  .square img {
    height: 246px;
    width: 220px;
    margin: 0;
    top: 266px;
    left: 172px;
    right: 0px;
    bottom: 0px;
    z-index: -40;
    position: absolute;
  }
  .hero-container-right {
    margin-left: 449px;
    margin-top: -380px;
    position: absolute;
    top: 678px;
  }
  .hero-description {
    padding-left: 0px;
    padding-right: 150px;
    text-align: left;
    font-size: 10px;
  }
  .button-email {
    font-size: 8px;
  }
  .button-join {
    font-size: 8px;
  }
  .contact-heading {
    margin-left: -120px;
    font-size: 13px;
  }
  .icons {
    position: relative;
    margin-left: -153px;
  }
  .icons img {
    margin-right: 15px;
    height: 21px;
  }
  .globe img {
    height: 32px;
    margin: 0;
    position: absolute;
    top: 109px;
    left: 408px;
    right: 0px;
    bottom: 20px;
  }
  .list {
    font-size: 9px;
  }
  .list :nth-child(1) {
    font-size: 11px;
  }
  .navbar-container img {
    height: 30px;
  }
  .star img {
    left: 591px;
    height: 26px;
    margin: 0;
    position: absolute;
    top: 160px;
    right: 0px;
    bottom: 20px;
  }
  .star2 img {
    left: 526px;
    height: 15px;
  }
}

@media screen and (max-width: 720px) {
  .list :nth-child(2) {
    margin-left: 17px;
  }
  .list :nth-child(3) {
    margin-left: 17px;
  }
  .list :nth-child(4) {
    margin-left: 17px;
  }
  .list :nth-child(5) {
    margin-right: 178px;
  }
  .main img {
    width: 216px;
    height: 240px;
  }
  .square img {
    height: 236px;
    width: 182px;
    margin: 0;
    top: 221px;
    left: 172px;
    right: 0px;
    bottom: 0px;
    z-index: -40;
    position: absolute;
  }
  .hero-container-right {
    margin-left: 408px;
    margin-top: -380px;
    position: absolute;
    top: 678px;
  }
  .star2 img {
    left: 392px;
    height: 16px;
    top: 494px;
  }
}
@media screen and (max-width: 708px) {
  .list {
    display: none;
  }
  .hero-container-right {
    margin-left: 408px;
    margin-top: -433px;
    position: absolute;
    top: 678px;
  }
  .globe img {
    height: 27px;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 408px;
    right: 0px;
    bottom: 20px;
  }
  .star img {
    left: 557px;
    height: 22px;
    margin: 0;
    position: absolute;
    top: 113px;
    right: 0px;
    bottom: 20px;
  }
}
@media screen and (max-width: 584px) {
  .button-group {
    margin-left: 104px;
  }
}
@media screen and (max-width: 362px) {
  .navbar-container img {
    margin-left: -73px;
    margin-top: -13px;
    height: 20px;
  }
  .main img {
    width: 291px;
    height: 237px;
    margin-top: -435px;
    margin-left: 4px;
  }
  .square img {
    height: 236px;
    width: 212px;
    margin: 0;
    top: 121px;
    left: 127px;
    right: 0px;
    bottom: 0px;
    z-index: -40;
    position: absolute;
  }
  .globe img {
    height: 27px;
    margin: 0;
    position: absolute;
    top: 322px;
    left: 41px;
    right: 0px;
    bottom: 20px;
  }
  .star img {
    left: 238px;
    height: 22px;
    margin: 0;
    position: absolute;
    top: 358px;
    right: 0px;
    bottom: 20px;
  }
  .hero-container-right {
    margin-left: 99px;
    margin-top: -303px;
    position: absolute;
    top: 678px;
  }
  .icons {
    margin-top: 15px;
  }
  .footer {
    margin-top: 28px;
  }
  .btn1 {
    margin-top: 16px;
    margin-left: -23px;
  }
  .hero-container-right {
    margin-top: -179px;
  }
  .hero-description {
    margin-left: -59px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    word-break: keep-all;
    padding-right: 69px;
  }
  .star2 img {
    left: 25px;
    height: 16px;
    top: 549px;
  }
  .list {
    display: flex;
    font-size: 7px;
    margin-left: -212px;
    column-gap: 0px;
    margin-top: -10px;
  }
  .list :nth-child(1) {
    font-size: 7px;
    text-decoration-thickness: 1px;
  }
  .list :nth-child(5) {
    margin-left: 20px;
  }
}
